<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>


<!-- =======================
Footer START -->
<footer class="bg-dark pt-7 pattern-overlay-6">
    <div class="container">

        <!-- Main Footer -->

        <div class="row pb-4 pt-6">
            <!-- Footer widget item -->
            <div class="col-md-4 mb-4">
                <h5 class="mb-4 text-white">All Dental Clinic<span class="text-primary">.</span></h5>
                <p>Zone Tower 3 408</p>
                <p>Seongnam-si, Gyeonggi-do, South Korea</p>
                <p>Tel: 031-719-1212</p>

                <!-- Social icons -->

                <div class="my-4"> <a href="https://www.webestica.com/" target="_blank"></a>
                </div>
            </div>

            <div class="col-md-4 mb-4">
                <h5 class="mb-4 text-white">Hours <span class="text-primary"></span></h5>
                <p>Weekdays  10:00 - 19:00 </p>
                <p>Saturday 09:00 - 14:00</p>

                <!-- Social icons -->
            </div>



        </div>
    </div>
</footer>
<!-- =======================
Footer END -->

<!-- Custom cursor -->
<div class="cursor-dot-outline"></div>
<div class="cursor-dot"></div>

<!-- Back to top -->
<div class="back-top">
    <div class="scroll-line"></div>
    <span class="scoll-text">Go Up</span>
</div>

<!-- =======================
JS libraries, plugins and custom scripts -->

<!-- Bootstrap JS -->
<script src="/js/bootstrap.bundle.min.js"></script>

<!-- Vendors -->
<script src="/js/jarallax.min.js"></script>
<script src="/js/tiny-slider.js"></script>
<script src="/js/aos.js"></script>

<!-- Template Functions -->
<script src="/js/functions.js"></script>
<script src="/js/index.js"></script>
