<head>
    <title>분당올치과 - 17년간 이어온 양심 진료</title>
    <!-- Meta Tags -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Webestica.com">
    <meta name="description" content="분당올치과">

    <!-- Favicon -->
    <link rel="shortcut icon" href="/images/favicon.ico">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Reenie+Beanie&family=Rubik:wght@400;500;700&family=Spartan:wght@400;700;900&display=swap" rel="stylesheet">

    <!-- Plugins CSS -->
    <link rel="stylesheet" type="text/css" href="/css/all/all.min.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" href="/css/animate.min.css">
    <link rel="stylesheet" type="text/css" href="/css/tiny-slider.css">
    <link rel="stylesheet" type="text/css" href="/css/aos.css">

    <!-- Theme CSS -->
    <link rel="stylesheet" type="text/css" href="/css/style.css">


</head>

<!-- Search END -->

<!-- =======================
Header START -->
<header class="navbar-light navbar-sticky">

    <!-- Logo Nav START -->
    <nav class="navbar navbar-expand-lg">
        <div class="container align-items-stretch">
            <!-- Logo START -->
            <a class="navbar-brand" href="/en">
                <img class="navbar-brand-item" src="/images/logo.png" alt="Logo">
            </a>
            <!-- Logo END -->


            <!-- Main Menu START -->
            <div class="collapse navbar-collapse w-auto me-auto" id="navbarCollapse">
                <ul class="navbar-nav navbar-nav-scroll me-auto ms-0 ms-xl-4">

                    <!-- Menu item 1 Demos -->
                    <li class="nav-item">	<a class="nav-link" href="/en#Service"><b><b>Dental Services</b></b></a></li>
                    <li class="nav-item">	<a class="nav-link" href="/en#Doctor"><b><b>About</b></b></a></li>
                    <li class="nav-item">	<a class="nav-link" href="/en#Blog"><b><b>Blog</b></b></a></li>
                    <li class="nav-item">	<a class="nav-link" href="/reservation"><b><b>Reservation</b></b></a></li>


                    <!-- Menu item 6 link-->
                </ul>
            </div>
            <!-- Main Menu END -->

            <!-- Main Menu END -->

            <!-- Nav right START -->
            <div class="nav flex-nowrap align-items-center bg-primary-end position-relative ps-4 ms-4">
                <!-- Call -->
                <div class="nav-item d-lg-flex">
                    <div class="flex-row mb-n1">
                        <span class="me-2 text-white">Call:</span>
                        <a class="text-white mb-0 h6">031-719-1212</a>
                    </div>
                </div>

                <!-- Nav Button -->
                <div class="nav-item d-xl-block" >
                    <a href="/login" class="btn btn-sm mb-0 mx-2" style="color:#000000"><b>Login</b></a>
                </div>

            </div>
            <!-- Nav right END -->
        </div>
    </nav>
    <!-- Logo Nav END -->
</header>
<!-- =======================
Header END -->
