<!DOCTYPE HTML>
    {{>layout/header}} <!--loads header.mustache-->
<body>
<!--List of Posts-->
<table class = "table table-horizontal table-bordered">
    <thread class = "thread-strong">
        <tr>
            <th>Id</th>
            <th>Title</th>
        </tr>
    </thread>
    <tbody id="tbody">

    </tbody>
</table>

<br>


</body>
{{>layout/footer}}