<!DOCTYPE HTML>
    {{>layout/header-en}}

<main>



    <!-- =======================
    Inner intro START -->
    <section class="bg-light-overlay-dotted position-relative text-center">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Title -->
                    <h1 class="text-dark-stroke display-5">Login / Register</h1>
                    <p class="lead"></p>
                    <br>
                    <!-- Breadcrumb -->

                </div>

                <div>
                    <a href="/oauth2/authorization/naver" class="btn btn-lg btn-green mb-0 mx-2">Naver</a>
                    <a href="/oauth2/authorization/google" class="btn btn-lg btn-white mb-0 mx-2"> Google</a>
                </div>
            </div>
        </div>
    </section>
</main>



{{>layout/footer-en}}

</body>
</html>

