<!DOCTYPE HTML>
    {{>layout/header}}

<body>
<section class="pb-3">
    <div class="container">
        <h2>Update reservation</h2>

        <div class="col-md-8">
            {{#reservation}}
                <form>
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" id="name" value={{name}} readonly>
                    </div>
                    <div class="form-group">
                        <label for="uid">Reservation id</label>
                        <input type="text" class="form-control" id="id" value={{id}} readonly>
                    </div>

                    <div class="form-group">
                        <label for="reservationDate"> Visiting date </label>
                        <input type="date" id="reservationDate" placeholder="Please choose a date" min = "tomorrow" required value = {{reservationDate}}>
                    </div>

                    <div class="form-group">
                        <label for="reservationTime"> Visiting Time </label>
                        <select name="service" class="form-control" id="reservationTime" required >
                            <option value="10:00">10:00</option>
                            <option value="10:30">10:30</option>
                            <option value="11:00">11:00</option>
                            <option value="11:30">11:30</option>
                            <option value="12:00">12:00</option>
                            <option value="12:30">12:30</option>
                            <option value="14:00">14:00</option>
                            <option value="14:30">14:30</option>
                            <option value="15:00">15:00</option>
                            <option value="15:30">15:30</option>
                            <option value="16:00">16:00</option>
                            <option value="16:30">16:30</option>
                            <option value="17:00">17:00</option>
                            <option value="17:30">17:30</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="service"> Reason of visit </label>
                        <select name="service" class="form-control" id="service" required >
                            <option value="SERVICE_FIRST_VISIT">First visit</option>
                            <option value="SERVICE_CAVITY_TREATMENT">Cavity treatment</option>
                            <option value="SERVICE_SCALING">Dental scaling</option>
                            <option value="SERVICE_WHITENING">Teeth whitening</option>
                            <option value="SERVICE_WISDOM_TEETH">Wisdom teeth extraction</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="phoneNumber">Phone number</label>
                        <input type="text" class="form-control" id="phoneNumber" placeholder="Please enter your number" required
                        value = {{phoneNumber}}>
                    </div>

                </form>
            {{/reservation}}

            <br>

            <a href="/reservation" role="button" class="btn btn-secondary">Discard</a>
            <button type="button" class="btn btn-primary" id="btn-update-reservation">Submit</button>
        </div>
    </div>
</section>

<!-- =======================
Contact form END -->


{{>layout/footer}}

<script src="/js/app/reservation.js"></script>

</body>
</html>