<!DOCTYPE HTML>
    {{>layout/header}}

<body>


<!-- **************** MAIN CONTENT START **************** -->
<main>

    <!-- =======================
    Inner intro START -->
    <section class="bg-dark pattern-overlay-4 position-relative text-center">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Title -->
                    <h1 class="text-white-stroke display-5">분당올치과 방문 후기</h1>
                    <p class="lead">10년 이상 믿고 방문해 주시는 환자가 많은 분당올치과. 분당올치과의 방문 후기를 읽어보세요</p>
                    <br>
                    <!-- Breadcrumb -->

                </div>

                <div>
                    <a href="https://map.naver.com/v5/search/%EB%B6%84%EB%8B%B9%EC%98%AC%EC%B9%98%EA%B3%BC/place/32848336?placePath=%3Fentry=pll%26from=nx%26fromNxList=true&c=14148633.6285167,4490152.8828760,15,0,0,0,dh" class="btn btn-sm btn-green mb-0 mx-2">네이버 리뷰</a>
                    <a href="https://www.modoodoc.com/hospital/18926/분당올치과의원-경기도-정자동/" class="btn btn-sm btn-purple mb-0 mx-2">모두닥 리뷰</a>
                </div>
            </div>
        </div>
    </section>

    <!-- =======================
    Inner intro END -->

    <!-- =======================
    Faqs START -->
    <section class="pb-3">
        <div class="container">
            <div class="row justify-content-between">
                <!-- Left START -->
                <div class="col-md-10 col-lg-7 mb-5">

                    <!-- Membership and trials START -->
                    <h3 class="mb-4 mt-5"></h3>
                    <div class="accordion accordion-icon" id="accordionmemberfaq">
                        {{#review}}
                            <div class="accordion-item">
                                <h5 class="accordion-header" id="heading-10">
                                    <button class="accordion-button fw-bold collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-10" aria-expanded="false" aria-controls="collapse-10">
                                        {{title}}
                                    </button>
                                </h5>
                                <div id="collapse-10" class="accordion-collapse collapse" aria-labelledby="heading-10" data-bs-parent="#accordionmemberfaq">
                                    <div class="accordion-body">
                                        {{body}}
                                    </div>
                                </div>
                            </div>
                        {{/review}}

                    </div>
                    <!-- Membership and trials END -->
                </div>
                <!-- Left END -->

                <!-- Right START -->
                <div class="col-md-4">


                    <div>
                        <a href="http://localhost:8080/review/new" class="btn btn-sm btn-dark mb-0 mx-2" style="float: right;">후기 작성하기</a>
                    </div>


                </div>
                <!-- Right END -->
            </div>
        </div>
    </section>
    <!-- =======================
    Faqs END -->

</main>
<!-- **************** MAIN CONTENT END **************** -->

{{>layout/footer}}


</body>
</html>