<!DOCTYPE HTML>
    {{>layout/header}} <!--loads header.mustache-->
<body>
<!--List of Posts-->
<table class = "table table-horizontal table-bordered">
    <thread class = "thread-strong">
        <tr>
            <th>Id</th>
            <th>Title</th>
        </tr>
    </thread>
    <tbody id="tbody">
    {{#review}} <!-- Mustache's way of importing data -->
    <tr>
        <td>{{id}}</td>
        <td>{{title}}</td>
    </tr>
    {{/review}}
    </tbody>
</table>

<br>
<!--List of Posts-->
<table class = "table table-horizontal table-bordered">
    <thread class = "thread-strong">
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Last Edited</th>
        </tr>
    </thread>
    <tbody id="tbody">

    </tbody>
</table>

</body>
{{>layout/footer}}