<!DOCTYPE HTML>
    {{>layout/header}}



<body>
<section class="pb-3">
    <div class="container">
        <h2>리뷰 작성하기</h2>
        <div class="col-md-8">
            <form>
                <div class="form-group">
                    <label for="title">제목</label>
                    <input type="text" class="form-control" id="title" placeholder="제목">
                </div>
                <div hidden class="form-group">
                    <label for="uid">Name</label>
                    <input type="text" class="form-control" id="name" value={{userName}} readonly>
                </div>
                <div class="form-group">
                    <label for="body"> 리뷰 본문 </label>
                    <textarea class="form-control" id="body" placeholder="리뷰 본문"></textarea>
                </div>
                <div class="form-group">
                    <label for="visitDate"> 방문일 </label>
                    <input type="date" class="form-control" id="visitDate" placeholder="방문일">
                </div>
            </form>
            <br>
            <a href="/review" role="button" class="btn btn-secondary">취소</a>
            <button type="button" class="btn btn-primary" id="btn-save-review">입력</button>
        </div>
    </div>
</section>

<!-- =======================
Contact form END -->


{{>layout/footer}}

<script src="/js/app/review.js"></script>

</body>
</html>


